Name: Lance Hinds

Student ID: @03045386

Title: Happiness Data Set Analysis

Introduction:
This jupyter notebook will analyze data taken from a happiness dataset.  The happiness dataset inlcudes factors that determine the happienss rank of a given country.  Due to the large amount of numerical data present in this dataset, an additional category of numerical data was added to the dataset (the Development Level category).  The dataset will be sufficient for observation with a balance of numerical and categorical data.

In [64]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [65]:
df = pd.read_csv('Happiness_2015_updated.csv') #load dataset

In [63]:
df

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Developmemt Level
0,0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,High
1,1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,High
2,2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,High
3,3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,High
4,4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Low
154,154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Low
155,155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Low Middle
156,156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Low
157,157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Low

#### Section 1

In [66]:
#1
df.shape

(158, 14)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     158 non-null    int64
 1   Country                        158 non-null    object
 2   Region                         158 non-null    object
 3   Happiness Rank                 158 non-null    int64
 4   Happiness Score                158 non-null    float64
 5   Standard Error                 158 non-null    float64
 6   Economy (GDP per Capita)       158 non-null    float64
 7   Family                         158 non-null    float64
 8   Health (Life Expectancy)       158 non-null    float64
 9   Freedom                        158 non-null    float64
 10  Trust (Government Corruption)  158 non-null    float64
 11  Generosity                     158 non-null    float64
 12  Dystopia Residual              158 non-null    float64
 13  Developmemt Level              158 non-null    object
dtypes: float64(9), int64(2), object(3)
memory usage: 17.4+ KB

In [70]:
df.head()

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Developmemt Level
0,0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,High
1,1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,High
2,2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,High
3,3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,High
4,4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,High

In [71]:
df.tail()

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Developmemt Level
153,153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Low
154,154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Low
155,155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Low Middle
156,156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Low
157,157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Low

In [73]:
#2
df.dtypes

Unnamed: 0                         int64
Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
Developmemt Level                 object
dtype: object

In [74]:
#3
df.isnull()
#There are no missing values in the dataset

,Unnamed: 0,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Developmemt Level
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,False,False,False,False,False,False,False,False,False,False,False,False,False,False
154,False,False,False,False,False,False,False,False,False,False,False,False,False,False
155,False,False,False,False,False,False,False,False,False,False,False,False,False,False
156,False,False,False,False,False,False,False,False,False,False,False,False,False,False
157,False,False,False,False,False,False,False,False,False,False,False,False,False,False

The dataset consists of factors of happiness for each country.  Some of these factors involve the economy, health, and freedom of the country.

#### Section 2

In [78]:
#4
df.duplicated().sum() 
#There aren't duplicates

0

In [83]:
#5
df[['Happiness Score','Economy (GDP per Capita)']] #print two important takeaways from the dataset

     Happiness Score  Economy (GDP per Capita)
0              7.587                   1.39651
1              7.561                   1.30232
2              7.527                   1.32548
3              7.522                   1.45900
4              7.427                   1.32629
..               ...                       ...
153            3.465                   0.22208
154            3.340                   0.28665
155            3.006                   0.66320
156            2.905                   0.01530
157            2.839                   0.20868

[158 rows x 2 columns]

In [84]:
df.loc[1] #print only data for 2nd entry in dataset (Iceland) (These commands will be essential in analyzing the dataset)

Unnamed: 0                                    1
Country                                 Iceland
Region                           Western Europe
Happiness Rank                                2
Happiness Score                           7.561
Standard Error                          0.04884
Economy (GDP per Capita)                1.30232
Family                                  1.40223
Health (Life Expectancy)                0.94784
Freedom                                 0.62877
Trust (Government Corruption)           0.14145
Generosity                               0.4363
Dystopia Residual                       2.70201
Developmemt Level                          High
Name: 1, dtype: object

#### Section 3

In [85]:
#6
df.describe()

,Unnamed: 0,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,78.500000,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754781,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,0.000000,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,39.250000,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,78.500000,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,117.750000,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,157.000000,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

One interesting insight that can be seen from this data is that one country has a GDP per Capita of zero.  This will be very eesential in determining the happiness rank of that country.

In [86]:
#7
df.value_counts()

Unnamed: 0  Country      Region                           Happiness Rank  Happiness Score  Standard Error  Economy (GDP per Capita)  Family   Health (Life Expectancy)  Freedom  Trust (Government Corruption)  Generosity  Dystopia Residual  Developmemt Level
0           Switzerland  Western Europe                   1               7.587            0.03411         1.39651                   1.34951  0.94143                   0.66557  0.41978                        0.29678     2.51738            High                 1
108         Bangladesh   Southern Asia                    109             4.694            0.03077         0.39753                   0.43106  0.60164                   0.40820  0.12569                        0.21222     2.51767            Low                  1
101         Greece       Western Europe                   102             4.857            0.05062         1.15406                   0.92933  0.88213                   0.07699  0.01397                        0.00000     1.80101            Middle               1
102         Lebanon      Middle East and Northern Africa  103             4.839            0.04337         1.02564                   0.80001  0.83947                   0.33916  0.04582                        0.21854     1.57059            Middle               1
103         Hungary      Central and Eastern Europe       104             4.800            0.06107         1.12094                   1.20215  0.75905                   0.32112  0.02758                        0.12800     1.24074            Middle               1
                                                                                                                                                                                                                                                                   ..
53          Kazakhstan   Central and Eastern Europe       54              5.855            0.04114         1.12254                   1.12241  0.64368                   0.51649  0.08454                        0.11827     2.24729            Middle               1
54          Slovenia     Central and Eastern Europe       55              5.848            0.04251         1.18498                   1.27385  0.87337                   0.60855  0.03787                        0.25328     1.61583            High                 1
55          Lithuania    Central and Eastern Europe       56              5.833            0.03843         1.14723                   1.25745  0.73128                   0.21342  0.01031                        0.02641     2.44649            Middle               1
56          Nicaragua    Latin America and Caribbean      57              5.828            0.05371         0.59325                   1.14184  0.74314                   0.55475  0.19317                        0.27815     2.32407            Low Middle           1
157         Togo         Sub-Saharan Africa               158             2.839            0.06727         0.20868                   0.13995  0.28443                   0.36453  0.10731                        0.16681     1.56726            Low                  1
Name: count, Length: 158, dtype: int64

In [88]:
#8
Development_grouped=df.groupby('Developmemt Level')['Country'].count() #number of countries with each development level
Development_grouped

Developmemt Level
High          40
Low           40
Low Middle    39
Middle        39
Name: Country, dtype: int64

In [89]:
Region_grouped=df.groupby('Developmemt Level')['Economy (GDP per Capita)'].mean() #the average GDP for each development level
Region_grouped

Developmemt Level
High          1.321492
Low           0.284361
Low Middle    0.743333
Middle        1.037579
Name: Economy (GDP per Capita), dtype: float64

#### Section 4

9.  A pattern that was noticed when analyzing the data was that each level of the development level consisted of around the same amount of countries.  An important takeaway from the dataset was that some of the data types are objects instead of strings or integers (this could cause a problem when further utilizing the data set).
10.  
    1. How will using different data types affect the use of sorting and math functions?
    2. Is there other data (categorical or numerical) that can be determined based on the statitsics gathered from the obeservations in this part of the project?

Conclusion: The components of the dataset were thoroughly observed in this part of the project.  Multiple commands for sorting and filtering the data were used and trends were seen from this analysis.  The assignment provided a greater understanding of the dataset, providing guidance on future uses of the dataset.

In [94]:
#clean dataset
df_cleaned=df.copy()
df_cleaned.to_csv('Happiness_2015_updated_cleaned.csv')

References: https://www.kaggle.com/datasets/unsdsn/world-happiness